$bio-typing-color: #edefe8

.bioHeader
  margin: 100px 0 0 0
  background: #485563
  // fallback for old browsers
  background: -webkit-linear-gradient(to right, #29323c, #485563)
  // Chrome 10-25, Safari 5.1-6
  background: linear-gradient(to right, #29323c, #485563)
  // W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+
  display: flex
  flex: 1
  flex-direction: column
  height: 120px
  width: 100%

.bioHeader
  h1
    font-family: Nunito, sans-serif
    width: 100%
    height: 50%
    display: flex
    justify-content: center
    align-items: center
    text-align: center
    color: $bio-typing-color
    font-size: 1.6rem
    line-height: 1.2
    margin: 35px 0 25px 0

.bioImage
  margin: 0 auto 0 auto
  border-radius: 50%
  width: 115px
  display: block
  position: relative

.content
  background-color: #f9f9f7

section
  .content
    p
      &::first-letter
        font-size: 150%
      font-family: Nunito, sans-serif
      padding: 0 30px 30px 30px
      line-height: 1.2
      font-weight: 300

.techStack
  background: #c94b4b
  // fallback for old browsers
  background: -webkit-linear-gradient(to bottom, #4b134f, #c94b4b)
  // Chrome 10-25, Safari 5.1-6
  background: linear-gradient(to bottom, #4b134f, #8e3636)
  // W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+
  display: flex
  flex: 1
  flex-direction: column
  height: 120px
  width: 100%
  h1
    margin: 35px 0 25px 0
    font-family: Nunito, sans-serif
    width: 100%
    height: 50%
    display: flex
    justify-content: center
    align-items: center
    text-align: center
    color: $bio-typing-color
    font-size: 1.6rem
    line-height: 1.2

.techStackImage
  margin: 0 auto 0 auto
  border-radius: 50%
  width: 110px
  display: block
  position: relative

.other
  background: #3a6186
  // fallback for old browsers
  background: -webkit-linear-gradient(to left, #5f182f, #3a6186)
  // Chrome 10-25, Safari 5.1-6
  background: linear-gradient(to left, #56172b, #3a6186)
  // W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+
  display: flex
  flex: 1
  flex-direction: column
  height: 120px
  width: 100%

.other
  h1
    margin: 35px 0 25px 0
    font-family: Nunito, sans-serif
    width: 100%
    height: 50%
    display: flex
    justify-content: center
    align-items: center
    text-align: center
    color: $bio-typing-color
    font-size: 1.6rem
    line-height: 1.2

.otherImage
  margin: 0 auto 0 auto
  border-radius: 50%
  width: 110px
  display: block
  position: relative

.resources
  background: #0f0c29
  // fallback for old browsers
  background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29)
  // Chrome 10-25, Safari 5.1-6
  background: linear-gradient(to right, #24243e, #302b63, #0f0c29)
  // W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+
  display: flex
  flex: 1
  flex-direction: column
  height: 120px
  width: 100%

.resources
  h1
    margin: 40px 0 23px 0
    font-family: Nunito, sans-serif
    width: 100%
    height: 50%
    display: flex
    justify-content: center
    align-items: center
    text-align: center
    color: $bio-typing-color
    font-size: 1.6rem
    line-height: 1.2

.resourcesImage
  margin: 0 auto 0 auto
  border-radius: 50%
  width: 115px
  display: block
  position: relative
