html {
    margin: 0;
}

body {
    margin: 0;
}

.noPaddingOrMargin {
    padding: 0;
    margin: 0;
}

.mainWrapper {

}

.contentWrapper {
    background-color: #f6f8f1;
    width: 50%;
    border: 1px solid grey; //TODO: delete
    border-radius: 10px;
    margin: 90px 25% 0 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

