.bioHeader
  background: $bio-background-fallback
  background: $bio-background-fallback2
  background: $bio-background
  display: flex
  flex: 1
  flex-direction: column
  height: 120px
  width: 40%
  margin: 100px auto 0 auto
  h1
    font-family: $fixed-font-family
    width: 100%
    height: 50%
    display: flex
    justify-content: center
    align-items: center
    text-align: center
    color: $bio-typing-color
    font-size: 1.5rem
    font-weight: 300
    line-height: 1.2
    margin: 35px 0 25px 0

.bioImage
  margin: $auto-margin
  border-radius: 50%
  width: 115px
  position: relative

.content
  background-color: $bio-background-text-color
  p
    &::first-letter
      font-size: 150%
    font-family: $fixed-font-family
    padding: 0 30px 30px 30px
    font-size: 1.0rem
    line-height: 1.2
    font-weight: 300

.techStack
  background: $bio-background-fallback
  background: $bio-background-fallback2
  background: $bio-background
  display: flex
  flex: 1
  flex-direction: column
  height: 120px
  width: 40%
  margin: $auto-margin
  h1
    margin: 35px 0 25px 0
    font-family: $fixed-font-family
    width: 100%
    height: 50%
    display: flex
    justify-content: center
    align-items: center
    text-align: center
    color: $bio-typing-color
    font-size: 1.5rem
    font-weight: 300
    line-height: 1.2

.techStackImage
  margin: $auto-margin
  border-radius: 50%
  width: 110px
  display: block
  position: relative

.other
  background: $bio-background-fallback
  background: $bio-background-fallback2
  background: $bio-background
  display: flex
  flex: 1
  flex-direction: column
  height: 120px
  width: 40%
  margin: $auto-margin
  h1
    margin: 35px 0 25px 0
    font-family: $fixed-font-family
    width: 100%
    height: 50%
    display: flex
    justify-content: center
    align-items: center
    text-align: center
    color: $bio-typing-color
    font-size: 1.5rem
    font-weight: 300
    line-height: 1.2

.otherImage
  margin: $auto-margin
  border-radius: 50%
  width: 110px
  display: block
  position: relative

.resources
  background: $bio-background-fallback
  background: $bio-background-fallback2
  background: $bio-background
  display: flex
  flex: 1
  flex-direction: column
  height: 120px
  width: 40%
  margin: $auto-margin
  h1
    margin: 40px 0 23px 0
    font-family: $fixed-font-family
    width: 100%
    height: 50%
    display: flex
    justify-content: center
    align-items: center
    text-align: center
    color: $bio-typing-color
    font-size: 1.5rem
    font-weight: 300
    line-height: 1.2

.resourcesImage
  margin: $auto-margin
  border-radius: 50%
  width: 115px
  display: block
  position: relative
