.footer
  position: fixed
  left: 0
  bottom: 0
  width: 100%
  color: white
  text-align: center
  height: $footer-header-height
  display: flex
  background-color: $header-background-color
  z-index: 100000