.topHeader
  position: fixed
  top: 0
  display: flex
  height: $footer-header-height
  width: 100%
  background-color: $header-background-color
  z-index: 100000

.headerImageContainer
  padding: 0 0 0 20px
  position: relative

.headerImage
  display: inline-block
  border-radius: 50%
  margin: 10px 0 0 0
  width: 80px

.nameJobWrapper
  display: inline-block
  padding: 25px 0 0 10px
  float: left
  width: 38%

.headerName
  display: inline-block
  margin: 0
  font-family: $fixed-font-family
  @include font-size(20px)

.headerJob
  margin: 0
  font-family: $fixed-font-family
  @include font-size(14px)
  color: $header-typing-color
  padding: 0 0 20px 0

.contactLinks
  position: relative
  display: flex
  width: 13%

.socialIcon
  flex: 1
  height: 70%
  width: 100%
  color: $header-typing-color
  text-decoration: none
  @include font-size(30px)

i.fab
  margin: 30px 0 0 0
  &.right
    float: right
    height: 100%
  &.left
    height: 100%
  &.centre
    width: 100%
    height: 100%
    text-align: center
  &.right:hover
    color: #3B5998
  &.left:hover
    color: #0077B5
  &.centre:hover
    color: #c9510c

.spacer
  position: relative
  display: flex
  width: 19%

.navigationContainer
  position: relative
  display: flex
  width: 25%
  float: right

.headerButton
  flex: 1
  flex-direction: column
  height: 100%
  width: 100%
  font-family: $fixed-font-family
  font-size: 16px
  color: $header-typing-color
  text-decoration: none

i.fas
  vertical-align: center
  padding: 30px 0 0 45%

span.headerSpan
  display: block
  text-align: center

a.headerButton:hover
  background-color: #e1e3dc
