/* line 1, partials/_base.sass */
html, body {
  margin: 0;
  width: 100%;
  height: 100%;
}

/* line 6, partials/_base.sass */
.contentWrapper {
  width: 40%;
  border-radius: 5px;
  margin: 0 30% 0 30%;
  display: flex;
}

/* line 1, partials/_bio.sass */
.content {
  background-color: #f9f9f7;
  width: 100%;
}
/* line 4, partials/_bio.sass */
.content p {
  font-family: Nunito, sans-serif;
  color: #44463f;
  padding: 50px 30px 10px 30px;
  font-size: 16px;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.4;
}
/* line 5, partials/_bio.sass */
.content p::first-letter {
  font-size: 150%;
}

/* line 15, partials/_bio.sass */
.headerBio, .bioHeader h1, .techStack h1, .other h1, .resources h1 {
  margin: 35px 0 24px 0;
  font-family: Nunito, sans-serif;
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #edefe8;
  font-size: 24px;
  font-size: 1.5rem;
  font-weight: 300;
}

/* line 28, partials/_bio.sass */
.bioHeader, .techStack, .other, .resources {
  background: #485563;
  background: -webkit-linear-gradient(to right, #29323c, #485563);
  background: linear-gradient(to right, #29323c, #485563);
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 120px;
  width: 40%;
  margin: 100px auto 0 auto;
}

/* line 41, partials/_bio.sass */
.bioImage, .techStackImage, .otherImage, .resourcesImage {
  margin: 0 auto 0 auto;
  border-radius: 50%;
  width: 115px;
  position: relative;
  border: 1px #61635c solid;
}

/* line 48, partials/_bio.sass */
.techStack, .other, .resources {
  margin: 0 auto 0 auto;
}

/* line 54, partials/_bio.sass */
.techStackImage {
  margin: 10px auto 0 auto;
  width: 110px;
}

/* line 64, partials/_bio.sass */
.otherImage {
  border: 1px #61635c solid;
  width: 110px;
}

/* line 71, partials/_bio.sass */
.resources h1 {
  margin: 40px 0 23px 0;
}

/* line 75, partials/_bio.sass */
.resourcesImage {
  margin: 5px auto 0 auto;
}

/* line 79, partials/_bio.sass */
.flex-container {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
  margin: 70px 0 0 0;
}

/* line 90, partials/_bio.sass */
.flex-item {
  width: 25%;
  order: 0;
  flex: 0 1 auto;
  align-self: auto;
  padding: 15px 0 15px 0;
  text-align: center;
  font-family: Nunito, sans-serif;
  font-weight: 400;
}

/* line 100, partials/_bio.sass */
.technologyImage {
  margin: 0 auto 0 auto;
  width: 120px;
  height: 120px;
}

/* line 105, partials/_bio.sass */
.resourcesContainer {
  margin: 0 30px 0 20px;
}

/* line 108, partials/_bio.sass */
.resourcesLink {
  font-family: Nunito, sans-serif;
  text-decoration: none;
  color: #b77700;
  font-size: 20px;
  font-size: 1.25rem;
  padding: 5px 0 5px 0;
}
/* line 114, partials/_bio.sass */
.resourcesLink:hover {
  color: #e79700;
}

/* line 117, partials/_bio.sass */
.resourcesText {
  font-family: Nunito, sans-serif;
  text-decoration: none;
  color: #61635c;
  font-size: 16px;
  font-size: 1rem;
  padding: 5px 0 5px 0;
}

/* line 1, partials/_header.sass */
.topHeader {
  position: fixed;
  top: 0;
  display: flex;
  height: 100px;
  width: 100%;
  background-color: #edefe8;
  z-index: 100000;
}

/* line 10, partials/_header.sass */
.headerImageContainer {
  padding: 0 0 0 20px;
  position: relative;
}

/* line 14, partials/_header.sass */
.headerImage {
  display: inline-block;
  border-radius: 50%;
  margin: 10px 0 0 0;
  width: 80px;
  border: 1px #61635c solid;
}

/* line 21, partials/_header.sass */
.nameJobWrapper {
  display: inline-block;
  padding: 25px 0 0 10px;
  float: left;
  width: 38%;
}

/* line 27, partials/_header.sass */
.headerName {
  display: inline-block;
  margin: 0;
  font-family: Nunito, sans-serif;
  font-size: 20px;
  font-size: 1.25rem;
}

/* line 33, partials/_header.sass */
.headerJob {
  margin: 0;
  font-family: Nunito, sans-serif;
  font-size: 14px;
  font-size: 0.875rem;
  color: #61635c;
  padding: 0 0 20px 0;
}

/* line 40, partials/_header.sass */
.contactLinks {
  position: relative;
  display: flex;
  width: 13%;
}

/* line 45, partials/_header.sass */
.socialIcon {
  flex: 1;
  height: 70%;
  width: 100%;
  color: #61635c;
  text-decoration: none;
  font-size: 30px;
  font-size: 1.875rem;
}

/* line 53, partials/_header.sass */
i.fab {
  margin: 30px 0 0 0;
}
/* line 55, partials/_header.sass */
i.fab.right {
  float: right;
  height: 100%;
}
/* line 58, partials/_header.sass */
i.fab.left {
  height: 100%;
}
/* line 60, partials/_header.sass */
i.fab.centre {
  width: 100%;
  height: 100%;
  text-align: center;
}
/* line 64, partials/_header.sass */
i.fab.right:hover {
  color: #3B5998;
}
/* line 66, partials/_header.sass */
i.fab.left:hover {
  color: #0077B5;
}
/* line 68, partials/_header.sass */
i.fab.centre:hover {
  color: #c9510c;
}

/* line 71, partials/_header.sass */
.spacer {
  position: relative;
  display: flex;
  width: 19%;
}

/* line 76, partials/_header.sass */
.navigationContainer {
  position: relative;
  display: flex;
  width: 25%;
  float: right;
}

/* line 82, partials/_header.sass */
.headerButton {
  flex: 1;
  flex-direction: column;
  height: 100%;
  width: 100%;
  font-family: Nunito, sans-serif;
  font-size: 16px;
  color: #61635c;
  text-decoration: none;
}

/* line 92, partials/_header.sass */
i.fas {
  vertical-align: center;
  padding: 30px 0 0 45%;
}

/* line 96, partials/_header.sass */
span.headerSpan {
  display: block;
  text-align: center;
}

/* line 100, partials/_header.sass */
a.headerButton:hover {
  background-color: #e1e3dc;
}

@media only screen and (max-width: 1150px) {
  /* line 3, partials/_media.sass */
  .topHeader {
    height: 180px;
  }

  /* line 5, partials/_media.sass */
  .bioHeader, .techStack, .other, .resources {
    margin: 180px auto 0 auto;
    width: 100%;
  }

  /* line 8, partials/_media.sass */
  .headerImage {
    width: 0;
  }

  /* line 10, partials/_media.sass */
  .nameJobWrapper {
    width: 30%;
    padding: 30px 0 0 10px;
  }

  /* line 13, partials/_media.sass */
  .headerName {
    font-size: 36px;
    font-size: 2.25rem;
  }

  /* line 15, partials/_media.sass */
  .headerJob {
    font-size: 20px;
    font-size: 1.25rem;
  }

  /* line 17, partials/_media.sass */
  .contactLinks {
    width: 35%;
  }

  /* line 19, partials/_media.sass */
  .socialIcon {
    font-size: 46px;
    font-size: 2.875rem;
  }

  /* line 21, partials/_media.sass */
  .spacer {
    width: 0;
  }

  /* line 23, partials/_media.sass */
  .contentWrapper {
    width: 100%;
    margin: 0;
  }

  /* line 26, partials/_media.sass */
  .contactLinks {
    margin: 30px 0 0 0;
  }

  /* line 28, partials/_media.sass */
  .navigationContainer {
    margin: 30px 0 0 0;
    width: 34%;
  }

  /* line 31, partials/_media.sass */
  .headerButton {
    font-size: 24px;
    font-size: 1.5rem;
    padding: 0 15px 0 0;
  }

  /* line 34, partials/_media.sass */
  .techStack, .other, .resources, .other, .resources {
    width: 100%;
    margin: 0 auto 0 auto;
  }

  /* line 38, partials/_media.sass */
  .content p {
    padding: 60px 50px 0 80px;
  }
  /* line 39, partials/_media.sass */
  .content p::first-letter {
    font-size: 200%;
  }

  /* line 42, partials/_media.sass */
  .headerBio, .bioHeader h1, .techStack h1, .other h1, .resources h1 {
    font-size: 50px;
    font-size: 3.125rem;
    margin: 75px 0 45px 0;
  }

  /* line 45, partials/_media.sass */
  .bioHeader, .techStack, .other, .resources {
    height: 200px;
  }

  /* line 47, partials/_media.sass */
  .bioImage, .techStackImage, .otherImage, .resourcesImage {
    width: 150px;
  }
}
