html, body {
  margin: 0;
  width: 100%;
  height: 100%;
}

.contentWrapper {
  width: 40%;
  border-radius: 5px;
  margin: 0 30% 0 30%;
  display: flex;
}

.bioHeader {
  background: #485563;
  background: -webkit-linear-gradient(to right, #29323c, #485563);
  background: linear-gradient(to right, #29323c, #485563);
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 120px;
  width: 40%;
  margin: 100px auto 0 auto;
}
.bioHeader h1 {
  font-family: Nunito, sans-serif;
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #edefe8;
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.2;
  margin: 35px 0 25px 0;
}

.bioImage {
  margin: 0 auto 0 auto;
  border-radius: 50%;
  width: 115px;
  position: relative;
}

.content {
  background-color: #f9f9f7;
}
.content p {
  font-family: Nunito, sans-serif;
  padding: 0 30px 30px 30px;
  font-size: 1rem;
  line-height: 1.2;
  font-weight: 300;
}
.content p::first-letter {
  font-size: 150%;
}

.techStack {
  background: #485563;
  background: -webkit-linear-gradient(to right, #29323c, #485563);
  background: linear-gradient(to right, #29323c, #485563);
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 120px;
  width: 40%;
  margin: 0 auto 0 auto;
}
.techStack h1 {
  margin: 35px 0 25px 0;
  font-family: Nunito, sans-serif;
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #edefe8;
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.2;
}

.techStackImage {
  margin: 0 auto 0 auto;
  border-radius: 50%;
  width: 110px;
  display: block;
  position: relative;
}

.other {
  background: #485563;
  background: -webkit-linear-gradient(to right, #29323c, #485563);
  background: linear-gradient(to right, #29323c, #485563);
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 120px;
  width: 40%;
  margin: 0 auto 0 auto;
}
.other h1 {
  margin: 35px 0 25px 0;
  font-family: Nunito, sans-serif;
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #edefe8;
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.2;
}

.otherImage {
  margin: 0 auto 0 auto;
  border-radius: 50%;
  width: 110px;
  display: block;
  position: relative;
}

.resources {
  background: #485563;
  background: -webkit-linear-gradient(to right, #29323c, #485563);
  background: linear-gradient(to right, #29323c, #485563);
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 120px;
  width: 40%;
  margin: 0 auto 0 auto;
}
.resources h1 {
  margin: 40px 0 23px 0;
  font-family: Nunito, sans-serif;
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #edefe8;
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.2;
}

.resourcesImage {
  margin: 0 auto 0 auto;
  border-radius: 50%;
  width: 115px;
  display: block;
  position: relative;
}

.topHeader {
  position: fixed;
  top: 0;
  display: flex;
  height: 100px;
  width: 100%;
  background-color: #edefe8;
  z-index: 100000;
}

.nameJobWrapper {
  display: inline-block;
  padding: 20px 0 0 40px;
  float: left;
  width: 42%;
}

.headerName {
  display: inline-block;
  margin: 0;
  font-family: Nunito, sans-serif;
  font-size: 20px;
}

.headerJob {
  margin: 0;
  font-family: Nunito, sans-serif;
  font-size: 14px;
  color: #61635c;
  padding: 0 0 20px 0;
}

.contactLinks {
  position: relative;
  display: flex;
  width: 14%;
}

.socialIcon {
  flex: 1;
  height: 70%;
  width: 100%;
  color: #61635c;
  text-decoration: none;
  font-size: 30px;
}

i.fab {
  margin: 30px 0 0 0;
}
i.fab.right {
  float: right;
  height: 100%;
}
i.fab.left {
  height: 100%;
}
i.fab.centre {
  width: 100%;
  height: 100%;
  text-align: center;
}
i.fab.right:hover {
  color: #3B5998;
}
i.fab.left:hover {
  color: #0077B5;
}
i.fab.centre:hover {
  color: #c9510c;
}

.spacer {
  position: relative;
  display: flex;
  width: 19%;
}

.headerButtonContainer {
  position: relative;
  display: flex;
  width: 25%;
  float: right;
}

.headerButton {
  flex: 1;
  flex-direction: column;
  height: 100%;
  width: 100%;
  font-family: Nunito, sans-serif;
  font-size: 16px;
  color: #61635c;
  text-decoration: none;
}

i.fas {
  vertical-align: center;
  padding: 30px 0 0 45%;
}

span.headerSpan {
  display: block;
  text-align: center;
}

a.headerButton:hover {
  background-color: #e1e3dc;
}

@media only screen and (max-width: 1200px) {
  .topHeader {
    height: 150px;
  }

  .bioHeader {
    margin: 150px auto 0 auto;
    width: 70%;
  }

  .nameJobWrapper {
    width: 35%;
    padding: 50px 0 0 40px;
  }

  .contactLinks {
    width: 25%;
  }

  .spacer {
    width: 4%;
  }

  .contentWrapper {
    width: 70%;
    margin: 0 15% 0 15%;
  }

  .contactLinks, .headerButtonContainer {
    margin: 35px 0 0 0;
  }

  .headerButton {
    font-size: 22px;
  }

  .headerButtonContainer {
    width: 35%;
  }

  i.fas {
    padding: 20px 0 0 45%;
  }

  .techStack, .other, .resources {
    width: 70%;
    margin: 0 auto 0 auto;
  }
}

/*# sourceMappingURL=main.css.map */
