/* line 1, partials/_base.sass */
html, body {
  margin: 0;
  width: 100%;
}

/* line 5, partials/_base.sass */
.mainWrapper {
  padding-bottom: 100px;
}

/* line 9, partials/_base.sass */
.contentWrapper {
  width: 40%;
  border-radius: 5px;
  margin: 0 30% 0 30%;
  display: flex;
}

/* line 1, partials/_bio.sass */
.content {
  background-color: #f9f9f7;
  width: 100%;
}
/* line 4, partials/_bio.sass */
.content p {
  font-family: Nunito, sans-serif;
  color: #44463f;
  padding: 10px 30px 10px 30px;
  font-size: 18px;
  font-size: 1.125rem;
  font-weight: 300;
  line-height: 1.4;
}
/* line 5, partials/_bio.sass */
.content p::first-letter {
  font-size: 150%;
}

/* line 15, partials/_bio.sass */
.headerBio, .bioHeader h1, .techStack h1, .other h1, .resources h1 {
  font-family: Nunito, sans-serif;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #edefe8;
  font-size: 28px;
  font-size: 1.75rem;
  font-weight: 300;
}

/* line 26, partials/_bio.sass */
.bioHeader, .techStack, .other, .resources {
  background: #485563;
  background: -webkit-linear-gradient(to right, #29323c, #485563);
  background: linear-gradient(to right, #29323c, #485563);
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 60px;
  width: 40%;
  margin: 100px auto 0 auto;
}

/* line 40, partials/_bio.sass */
.bioImage {
  margin: 0 auto 0 auto;
  border-radius: 50%;
  width: 115px;
  position: relative;
  border: 1px #61635c solid;
}

/* line 47, partials/_bio.sass */
.techStack, .other, .resources {
  margin: 0 auto 0 auto;
}

/* line 63, partials/_bio.sass */
.flex-container {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
  margin: 20px 0 20px 0;
}

/* line 74, partials/_bio.sass */
.flex-item {
  width: 25%;
  order: 0;
  flex: 0 1 auto;
  align-self: auto;
  padding: 15px 0 15px 0;
  text-align: center;
  font-family: Nunito, sans-serif;
  font-weight: 400;
}

/* line 84, partials/_bio.sass */
.technologyImage {
  margin: 0 auto 0 auto;
  width: 120px;
  height: 120px;
}

/* line 89, partials/_bio.sass */
.resourcesContainer {
  margin: 0 30px 0 20px;
}

/* line 92, partials/_bio.sass */
.resourcesLink {
  font-family: Nunito, sans-serif;
  text-decoration: none;
  color: #b77700;
  font-size: 20px;
  font-size: 1.25rem;
  padding: 5px 0 5px 0;
}
/* line 98, partials/_bio.sass */
.resourcesLink:hover {
  color: #e79700;
}

/* line 101, partials/_bio.sass */
.resourcesText {
  font-family: Nunito, sans-serif;
  text-decoration: none;
  font-weight: lighter;
  color: #61635c;
  font-size: 16px;
  font-size: 1rem;
  padding: 5px 0 5px 0;
}

/* line 1, partials/_header.sass */
.topHeader {
  position: fixed;
  top: 0;
  display: flex;
  height: 100px;
  width: 100%;
  background-color: #edefe8;
  z-index: 100000;
}

/* line 10, partials/_header.sass */
.headerImageContainer {
  padding: 0 0 0 20px;
  position: relative;
}

/* line 14, partials/_header.sass */
.headerImage {
  display: inline-block;
  border-radius: 50%;
  margin: 10px 0 0 0;
  width: 80px;
}

/* line 20, partials/_header.sass */
.nameJobWrapper {
  display: inline-block;
  padding: 25px 0 0 10px;
  float: left;
  width: 38%;
}

/* line 26, partials/_header.sass */
.headerName {
  display: inline-block;
  margin: 0;
  font-family: Nunito, sans-serif;
  font-size: 20px;
  font-size: 1.25rem;
}

/* line 32, partials/_header.sass */
.headerJob {
  margin: 0;
  font-family: Nunito, sans-serif;
  font-size: 14px;
  font-size: 0.875rem;
  color: #61635c;
  padding: 0 0 20px 0;
}

/* line 39, partials/_header.sass */
.contactLinks {
  position: relative;
  display: flex;
  width: 13%;
}

/* line 44, partials/_header.sass */
.socialIcon {
  flex: 1;
  height: 70%;
  width: 100%;
  color: #61635c;
  text-decoration: none;
  font-size: 30px;
  font-size: 1.875rem;
}

/* line 52, partials/_header.sass */
i.fab {
  margin: 30px 0 0 0;
}
/* line 54, partials/_header.sass */
i.fab.right {
  float: right;
  height: 100%;
}
/* line 57, partials/_header.sass */
i.fab.left {
  height: 100%;
}
/* line 59, partials/_header.sass */
i.fab.centre {
  width: 100%;
  height: 100%;
  text-align: center;
}
/* line 63, partials/_header.sass */
i.fab.right:hover {
  color: #3B5998;
}
/* line 65, partials/_header.sass */
i.fab.left:hover {
  color: #0077B5;
}
/* line 67, partials/_header.sass */
i.fab.centre:hover {
  color: #c9510c;
}

/* line 70, partials/_header.sass */
.spacer {
  position: relative;
  display: flex;
  width: 19%;
}

/* line 75, partials/_header.sass */
.navigationContainer {
  position: relative;
  display: flex;
  width: 25%;
  float: right;
}

/* line 81, partials/_header.sass */
.headerButton {
  flex: 1;
  flex-direction: column;
  height: 100%;
  width: 100%;
  font-family: Nunito, sans-serif;
  font-size: 16px;
  color: #61635c;
  text-decoration: none;
}

/* line 91, partials/_header.sass */
i.fas {
  vertical-align: center;
  padding: 30px 0 0 45%;
}

/* line 95, partials/_header.sass */
span.headerSpan {
  display: block;
  text-align: center;
}

/* line 99, partials/_header.sass */
a.headerButton:hover {
  background-color: #e1e3dc;
}

/* line 1, partials/_footer.sass */
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  height: 100px;
  display: flex;
  background-color: #edefe8;
  z-index: 100000;
}

/* line 12, partials/_footer.sass */
.footerContactContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* line 18, partials/_footer.sass */
.comingSoon {
  width: 35%;
}

/* line 21, partials/_footer.sass */
.comingSoonText {
  font-family: Nunito, sans-serif;
  height: 100%;
  float: right;
  font-size: 16px;
  font-size: 1rem;
  font-weight: bold;
  horiz-align: center;
  text-align: center;
  color: #FF2323;
  margin-top: 42px;
}

/* line 32, partials/_footer.sass */
.footerPreferencesContainer {
  width: 15%;
}

/* line 35, partials/_footer.sass */
.footerQuestions {
  display: inline-block;
  font-family: Nunito, sans-serif;
  font-size: 18px;
  font-size: 1.125rem;
  color: #44463f;
}

/* line 41, partials/_footer.sass */
.footerContact {
  font-family: Nunito, sans-serif;
  font-size: 18px;
  font-size: 1.125rem;
  padding: 0 0 0 10px;
  color: #44463f;
}

/* line 47, partials/_footer.sass */
p.footerContact {
  display: block;
}

/* line 50, partials/_footer.sass */
.crossedOut {
  background: linear-gradient(to left top, transparent 47.75%, currentColor 49.5%, transparent 52.25%);
}

/* line 53, partials/_footer.sass */
.languageText {
  color: #44463f;
  margin: 10px 0 10px 0;
}

/* line 57, partials/_footer.sass */
.languageContainer {
  height: 100%;
  display: inline-block;
  float: right;
  font-size: 16px;
  font-size: 1rem;
  font-weight: bold;
  margin: 0 15px 0 0;
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' preserveAspectRatio='none' viewBox='0 0 100 100'><path d='M100 0 L0 100 ' stroke='#FF2323' stroke-width='4'/><path d='M0 0 L100 100 ' stroke='#FF2323' stroke-width='4'/></svg>") no-repeat center center;
  background-size: 100% 100%, auto;
  z-index: 100;
}

/* line 68, partials/_footer.sass */
.languageFlag {
  margin: 0 auto 0 auto;
  width: 70px;
  height: 40px;
  padding: 0 15px 0 15px;
  z-index: -1;
}

/* line 1, partials/_portfolio.sass */
.portfolioContent {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #f9f9f7;
  width: 100%;
}

/* line 8, partials/_portfolio.sass */
.portfolioItem {
  width: 100%;
  border: 1px red solid;
}

@media only screen and (max-width: 1150px) {
  /* line 3, partials/_media.sass */
  .mainWrapper {
    padding-bottom: 180px;
  }

  /* line 5, partials/_media.sass */
  .topHeader {
    height: 180px;
  }

  /* line 7, partials/_media.sass */
  .bioHeader, .techStack, .other, .resources {
    margin: 180px auto 0 auto;
    width: 100%;
  }

  /* line 10, partials/_media.sass */
  .headerImage {
    width: 0;
  }

  /* line 12, partials/_media.sass */
  .nameJobWrapper {
    width: 30%;
    padding: 30px 0 0 10px;
  }

  /* line 15, partials/_media.sass */
  .headerName {
    font-size: 36px;
    font-size: 2.25rem;
  }

  /* line 17, partials/_media.sass */
  .headerJob {
    font-size: 20px;
    font-size: 1.25rem;
  }

  /* line 19, partials/_media.sass */
  .contactLinks {
    width: 35%;
  }

  /* line 21, partials/_media.sass */
  .socialIcon {
    font-size: 46px;
    font-size: 2.875rem;
  }

  /* line 23, partials/_media.sass */
  .spacer {
    width: 0;
  }

  /* line 25, partials/_media.sass */
  .contentWrapper {
    width: 100%;
    margin: 0;
  }

  /* line 28, partials/_media.sass */
  .contactLinks {
    margin: 30px 0 0 0;
  }

  /* line 30, partials/_media.sass */
  .navigationContainer {
    margin: 30px 0 0 0;
    width: 34%;
  }

  /* line 33, partials/_media.sass */
  .headerButton {
    font-size: 24px;
    font-size: 1.5rem;
    padding: 0 15px 0 0;
  }

  /* line 36, partials/_media.sass */
  .techStack, .other, .resources, .other, .resources {
    width: 100%;
    margin: 0 auto 0 auto;
  }

  /* line 40, partials/_media.sass */
  .content p {
    padding: 10px 50px 0 40px;
  }
  /* line 41, partials/_media.sass */
  .content p::first-letter {
    font-size: 200%;
  }

  /* line 44, partials/_media.sass */
  .headerBio, .bioHeader h1, .techStack h1, .other h1, .resources h1 {
    font-size: 60px;
    font-size: 3.75rem;
  }

  /* line 46, partials/_media.sass */
  .bioHeader, .techStack, .other, .resources {
    height: 120px;
  }

  /* line 48, partials/_media.sass */
  .bioImage {
    width: 150px;
  }

  /* line 50, partials/_media.sass */
  .flex-item {
    width: 33%;
  }

  /* line 52, partials/_media.sass */
  .technologyImage {
    width: 160px;
    height: 160px;
  }

  /* line 55, partials/_media.sass */
  .footer {
    height: 180px;
  }

  /* line 57, partials/_media.sass */
  .footerContact, .footerQuestions {
    font-size: 30px;
    font-size: 1.875rem;
  }

  /* line 59, partials/_media.sass */
  .comingSoon {
    width: 25%;
  }

  /* line 61, partials/_media.sass */
  .footerPreferencesContainer {
    width: 25%;
  }

  /* line 64, partials/_media.sass */
  .resourcesLink, .resourcesText {
    font-size: 30px;
    font-size: 1.875rem;
    padding: 10px 0 10px 0;
  }
}
